
/* ==========================================================================
   404 Page
   ========================================================================== */
.not-found { 
  margin-top: 5em;
  padding: 1em;
  color: $gray; 
}

.not-found__title { 
  @include font-size(11); 
  line-height: 1.5;
}


