/* ==========================================================================
   Variables Section
   ========================================================================== */







/* Colors
   ========================================================================== */
$gold: #C7AD73;
$black: #231F20;
$white: #fff;

$l-gray: #333333;
$m-gray: #444;
$gray: #B0AEAE;

$copy-on-light: #55534C;
$copy-on-dark: #999;
$copy-on-intro: $white;

$view-pdf: #83775C;
$border-on-light: #A69267;
$border-on-dark: #333;

$gold-btn-hover: #BBA26C;
$g-btn-hover-border: #99855D;

$bk-hover-on-black: #292627;







/* Max width
   ========================================================================== */
//$max-width: 1200px;






/* Space for Margin/Padding
   ========================================================================== */
$xs-space:    .25em;
$s-space:     .5em;
$m-space:     1em;
$l-space:     1.5em;
$xl-space:    2em;
$xxl-space:   2.5em;
$xxxl-space:  3em;
$k-space:     3.5em;
$kk-space:    4em;
$kkk-space:   5em;
$g-space:     6em;  